<body style="margin-left: 20px;">
  <img src="https://s3.ap-south-1.amazonaws.com/gameon-cafe-images/NewGO.png" alt="GameOn" height="60px" style="margin-top: 20px;">
        <div>
          <p>Congratulations ${Name},</p>
          <p>Your Cafe,</p>
          <div style="margin-left: 30px;">
            <p>${Cafe}</p>
            <p>Id : <span style="color : #5491f7;">${CafeId}</span></p>
          </div>
          <p>has been successfully registered with GameOn and will be up for online bookings.</p>
          <p>Please login to <a href="https://cafe.thegameon.co" style="color : #5491f7;">GameOn Cafes</a> to manage your Cafe</p>
          <p>To interact and control your online bookings please refer to your user credentials provided below:</p><br>
          <div style="margin-left: 30px;">
            <p>Email : ${Email}</p>
            <p>Password : <span style="color : #5491f7;">${Password}</span></p>
          </div><br>
          <p>Please change your password after logging in for the first time for security purposes.</p>
          <p>We hope you will find our services pleasing for your business.</p>
          <p>For any queries regarding bookings and functionalities, please feel free to drop a mail to support@thegameon.co</p>
          <p>Thank you</p>
        </div>
</body>